<html>
    <head>
        <title>Add Item</title>
    </head>
    <body>
        <style>
            .items-list {
                display: flex;
            }
            .item-card {
                background-color: lightgray;
                display: flex;
                flex-direction: column;
                width: fit-content;
                margin: 10px;
                padding: 10px;
            }
        </style>
        <h1>Add Item</h1>

        <div class="items-list">
<!--            {% for each in data %}-->
<!--                <div class="item-card">-->
<!--                    <div>{{each.name}}</div>-->
<!--                    <div>Start Time: {{each.start_time}}</div>-->
<!--                    <div>Cook Time: {{each.execution_time}}</div>-->
<!--                </div>-->
<!--            {% endfor %}-->
            <form action="/main/" method="post">
                {% csrf_token %}
                <label for="item_name">Item Name: </label>
                <input id="item_name" type="text" name="item_name" />
                <label for="arrive_time">Arrive Time: </label>
                <input id="arrive_time" type="text" name="arrive_time" />
                <label for="serve_time">Execute Time: </label>
                <input id="serve_time" type="text" name="serve_time" />

                <input type="submit" value="OK">
<!--                <div>{{previous_list}}</div>-->
<!--                <input type="submit" onclick="test({{previous_list}})" value="OK">-->
            </form>

        </div>
    </body>
</html>