<html>
    <head>
        <title>Scheduling</title>
    </head>
    <body>
        <style>
            .items-list {
                display: flex;
            }
            .item-card {
                background-color: lightgray;
                display: flex;
                flex-direction: column;
                width: fit-content;
                margin: 10px;
                padding: 10px;
            }
        </style>
        <h1>Welcome</h1>

        <div class="items-list">
            {% if process_list %}
                 {% for each in process_list %}
                    <div class="item-card">
                        <div>{{each.name}}</div>
                        <div>Start Time: {{each.arrive_time}}</div>
                        <div>Cook Time: {{each.serve_time}}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" onclick="location.href='{% url 'add-form' %}'">Add Item</button>
        <button type="submit" onclick="location.href='{% url 'result-page' %}'"">Schedule</button>
    </body>
</html>