<html>
    <head>
        <title>Scheduling</title>
    </head>
    <body>
        <style>
            .items-list {
                display: flex;
            }
            .item-card {
                background-color: lightgray;
                display: flex;
                flex-direction: column;
                width: fit-content;
                margin: 10px;
                padding: 10px;
            }
        </style>
        <h1>Result</h1>
        <h2>Scheduled Tasks</h2>

        <div class="items-list">
            {% if result_list %}
                 {% for each in result_list %}
                    <div class="item-card">
                        <div>{{each.name}}</div>
                        <div>Start Time: {{each.arrive_time}}</div>
                        <div>Serve Time: {{each.serve_time}}</div>
                        <div>Finish Time: {{each.finish_time}}</div>
                        <div>Turnaround Time: {{each.cycling_time}}</div>
                        <div>Turnaround Time With Rights: {{each.w_cycling_time}}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" onclick="location.href='{% url 'add-form' %}'">Add Item</button>
        <button>Schedule</button>
    </body>
</html>